node_modules/
google-services.json
server/sensitive.data
server/conf/*
server/tests/build/
server/payload-example.json
client/pushtest1/android/
client/pushtest1/index.android.js
server/curl.txt
.DS_Store
*.DS_Store
npm-debug.log
todo.md
server/curl_test1.sh
server/test.json
